<a href="https://colab.research.google.com/github/Raavvone/Assingments-CLoudy-ML/blob/main/Data_Structure_Assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Given a list of dictionaries representing employees (with `name`, `age`, and `department`),
# write code to group employees by their department and calculate the average age for each department.


employees = [
       {"name": "Alice", "age": 30, "department": "HR"},
       {"name": "Bob", "age": 24, "department": "Engineering"},
       {"name": "Charlie", "age": 29, "department": "HR"},
       {"name": "David", "age": 35, "department": "Engineering"},
       {"name": "Eve", "age": 28, "department": "Marketing"}
   ]

hr_total = hr_count = 0
eng_total = eng_count = 0
mkt_total = mkt_count = 0

for emp in employees:
    if emp["department"] == "HR":
        hr_total += emp["age"]
        hr_count += 1
    elif emp["department"] == "Engineering":
        eng_total += emp["age"]
        eng_count += 1
    elif emp["department"] == "Marketing":
        mkt_total += emp["age"]
        mkt_count += 1

print("HR: Average Age =", hr_total / hr_count)
print("Engineering: Average Age =", eng_total / eng_count)
print("Marketing: Average Age =", mkt_total / mkt_count)

HR: Average Age = 29.5
Engineering: Average Age = 29.5
Marketing: Average Age = 28.0

In [2]:
from os import symlink
# 2. - Given two sets of integers, write code to find the symmetric difference (elements present in one set but not the other)
#  and then filter out all even numbers from the result.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_difference = set1.symmetric_difference(set2)

filtered_result = [num for num in symmetric_difference if num % 2 != 0]

print(filtered_result)

[1, 3, 7]

In [5]:
# 3. Given a dictionary where keys are strings and values are lists of dictionaries
 # (each containing `name` and `score`), write code to find the highest score in each list
 #  and return a dictionary with these highest scores.

data = {
       "class1": [{"name": "Alice", "score": 85}, {"name": "Bob", "score": 92}],
       "class2": [{"name": "Charlie", "score": 88}, {"name": "David", "score": 79}]
   }

highest_scores = {}

for class_name, students in data.items():
    max_score = max(student["score"] for student in students)
    highest_scores[class_name] = max_score

print(highest_scores)

{'class1': 92, 'class2': 88}

In [6]:
# 4. Given a list of tuples representing product sales (with `product_name`, `quantity_sold`, and `price_per_unit`),
#  write code to calculate the total sales for each product and return a dictionary with the product names as keys and
# total sales as values.

sales = [
       ("Product1", 10, 2.5),
       ("Product2", 5, 4.0),
       ("Product1", 7, 2.5),
       ("Product3", 3, 6.0)
   ]

total_sales = {}

for product, quantity, price in sales:
    amount = quantity * price
    if product in total_sales:
        total_sales[product] += amount
    else:
        total_sales[product] = amount

print(total_sales)

{'Product1': 42.5, 'Product2': 20.0, 'Product3': 18.0}

In [7]:
# 5. Given a list of strings representing logs, where each log entry is in the
# format `"date: event"`, write code to count the occurrences of each event and
# return a dictionary with the event names as keys and their counts as values.

logs = [
       "2023-05-01: login",
       "2023-05-01: logout",
       "2023-05-02: login",
       "2023-05-02: login",
       "2023-05-03: logout"
   ]

event_counts = {}

for log in logs:
    # Split by ": " to get the event part
    event = log.split(": ")[1]

    # Count the event
    if event in event_counts:
        event_counts[event] += 1
    else:
        event_counts[event] = 1

print(event_counts)

{'login': 3, 'logout': 2}

In [8]:
# 6. Given a list of numbers, write code to filter out all prime numbers and then
# return the sum of the remaining numbers.

numbers = [10, 15, 3, 7, 18, 21, 2, 5, 30]


def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

total = 0

for num in numbers:
    if not is_prime(num):  # if the number is NOT prime
        total += num       # add to total

print("Sum of non-prime numbers:", total)

Sum of non-prime numbers: 94

In [9]:
# 7. Given a dictionary representing a company's hierarchy, where keys are department
# names and values are dictionaries with employee names as keys and their salaries as values,
# write code to find the department with the highest average salary.

hierarchy = {
       "HR": {"Alice": 70000, "Bob": 80000},
       "Engineering": {"Charlie": 90000, "David": 95000},
       "Marketing": {"Eve": 75000, "Frank": 70000}
   }

highest_avg = 0
best_dept = ""

for dept, employees in hierarchy.items():
    total_salary = sum(employees.values())
    num_employees = len(employees)
    avg_salary = total_salary / num_employees

    if avg_salary > highest_avg:
        highest_avg = avg_salary
        best_dept = dept

print("Department with highest average salary:", best_dept)

Department with highest average salary: Engineering

In [10]:
# 8. Given a list of words, write code to find all unique anagrams in the list. An anagram
#  is a word formed by rearranging the letters of another word.

words = ["listen", "silent", "enlist", "google", "elgoog", "rat", "tar", "art"]

anagram_groups = {}

for word in words:
    # Sort letters in the word to create a key
    key = ''.join(sorted(word))
    if key in anagram_groups:
        anagram_groups[key].add(word)
    else:
        anagram_groups[key] = {word}

# Collect unique anagram sets (with more than 1 word)
unique_anagrams = [list(group) for group in anagram_groups.values() if len(group) > 1]

print("Unique anagram groups:")
for group in unique_anagrams:
    print(group)

Unique anagram groups:
['listen', 'silent', 'enlist']
['google', 'elgoog']
['tar', 'rat', 'art']

In [11]:
# 9. Given a matrix (list of lists) of integers, write code to find and return the transpose
# of the matrix. The transpose of a matrix is obtained by swapping rows and columns.


matrix = [
       [1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]
   ]

transpose = []

for i in range(len(matrix[0])):  # columns
    row = []
    for j in range(len(matrix)):  # rows
        row.append(matrix[j][i])
    transpose.append(row)

print("Transpose of the matrix:")
for row in transpose:
    print(row)

Transpose of the matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [12]:
 # 10. Given a string, write code to count the frequency of each character (excluding spaces) and
 #return a dictionary with characters as keys and their frequencies as values.


text = "hello world"

char_freq = {}

for char in text:
    if char != ' ':
        if char in char_freq:
            char_freq[char] += 1
        else:
            char_freq[char] = 1

print(char_freq)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}