<a href="https://colab.research.google.com/github/Raavvone/Assingments-CLoudy-ML/blob/main/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Task 1:**
 Define a function `intersect` that takes two lists and returns a new list that contains only the elements that are common to both input lists. The returned list should have no duplicates.


##### Sample Inputs and Expected Outputs:

Sample Input 1:
```python
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
```
##### Expected Output 1:
```python
[3, 4, 5]
```

##### Sample Input 2:
```python
list1 = ['apple', 'banana', 'cherry']
list2 = ['banana', 'dragonfruit', 'elderberry']
```
##### Expected Output 2:
```python
['banana']
```

In [2]:
def intersect(list1, list2):
    result = []
    for item in list1:
        if item in list2 and item not in result:
            result.append(item)
    return result

In [5]:
print(intersect([1, 2, 3, 4, 5], [3, 4, 5, 6, 7]))
print(intersect(['apple', 'banana', 'cherry'], ['banana', 'dragonfruit', 'elderberry']))

[3, 4, 5]
['banana']

### **Task 2:**
Write a function `group_by_length` that takes a list of words and returns a dictionary where the keys are word lengths and the values are lists of words that have that length.


### Sample Input and Output:

**Input:**
```python
words = ["apple", "bat", "bar", "atom", "book"]
```

**Output:**
```python
{5: ["apple"], 3: ["bat", "bar"], 4: ["atom", "book"]}
```

### Explanation:
- Words "bat" and "bar" have 3 letters, so they are grouped under the key `3`.
- Words "atom" and "book" have 4 letters, so they are grouped under the key `4`.
- Word "apple" has 5 letters, so it is grouped under the key `5`.

In [6]:
def group_by_length(words):
    result = {}
    for word in words:
        length = len(word)
        if length in result:
            result[length].append(word)
        else:
            result[length] = [word]
    return result

In [7]:
print(group_by_length(["apple", "bat", "bar", "atom", "book"]))

{5: ['apple'], 3: ['bat', 'bar'], 4: ['atom', 'book']}

### **Task 3:**
 Write a function `merge_sorted_lists` that takes two lists of numbers, both sorted in ascending order, and returns a merged list of these two lists also in ascending order, without using the built-in sort method.

### Input:
- `list1`: A list of integers sorted in non-decreasing order.
- `list2`: A list of integers sorted in non-decreasing order.

### Output:
- Return a single list containing all elements from both input lists, sorted in non-decreasing order.

### Examples:

**Example 1:**
```plaintext
Input: list1 = [1, 2, 4], list2 = [1, 3, 4]
Output: [1, 1, 2, 3, 4, 4]
Explanation: The elements from both lists are merged and the resultant list is sorted in ascending order.
```

**Example 2:**
```plaintext
Input: list1 = [0, 3, 7], list2 = [2, 5, 6]
Output: [0, 2, 3, 5, 6, 7]
Explanation: After merging both lists, the resulting list is sorted in ascending order.
```

**Example 3:**
```plaintext
Input: list1 = [], list2 = [0, 1, 2, 3]
Output: [0, 1, 2, 3]
Explanation: Since the first list is empty, the merged list is simply the second list which is already sorted.
```

In [9]:
def merge_sorted_lists(list1, list2):
    result = []
    i = j = 0


    while i < len(list1) and j < len(list2):
        if list1[i] <= list2[j]:
            result.append(list1[i])
            i += 1
        else:
            result.append(list2[j])
            j += 1


    while i < len(list1):
        result.append(list1[i])
        i += 1

    while j < len(list2):
        result.append(list2[j])
        j += 1

    return result

In [10]:
print(merge_sorted_lists([1, 2, 4], [1, 3, 4]))  # [1, 1, 2, 3, 4, 4]
print(merge_sorted_lists([0, 3, 7], [2, 5, 6]))  # [0, 2, 3, 5, 6, 7]
print(merge_sorted_lists([], [0, 1, 2, 3]))      # [0, 1, 2, 3]

[1, 1, 2, 3, 4, 4]
[0, 2, 3, 5, 6, 7]
[0, 1, 2, 3]

### **Task 4:**
Write a function `longest_consecutive` that takes a list of integers and returns the length of the longest consecutive elements sequence. The list may not be sorted.

### Examples:

**Example 1:**
- **Input:** `nums = [100, 4, 200, 1, 3, 2]`
- **Output:** `4`
- **Explanation:** The longest consecutive elements sequence is `[1, 2, 3, 4]`. Therefore, the returned value should be 4.

**Example 2:**
- **Input:** `nums = [0, 3, 7, 2, 5, 8, 4, 6, 0, 1]`
- **Output:** `9`
- **Explanation:** The longest consecutive elements sequence is `[0, 1, 2, 3, 4, 5, 6, 7, 8]`. Therefore, the returned value should be 9.

**Example 3:**
- **Input:** `nums = []`
- **Output:** `0`
- **Explanation:** There are no numbers in the list, hence no consecutive sequence.

**Example 4:**
- **Input:** `nums = [9,1,4,7,3,-1,0,5,8,-1,6]`
- **Output:** `7`
- **Explanation:** The longest consecutive elements sequence is `[-1, 0, 1, 3, 4, 5, 6, 7, 8, 9]`, but the sub-sequence starting from 3 to 9 is continuous and has 7 elements.

In [11]:
def longest_consecutive(nums):
    if not nums:
        return 0

    num_set = set(nums)
    longest = 0

    for num in num_set:
        if num - 1 not in num_set:
            current = num
            count = 1

            while current + 1 in num_set:
                current += 1
                count += 1

            longest = max(longest, count)

    return longest

In [12]:
print(longest_consecutive([100, 4, 200, 1, 3, 2]))  # Output: 4
print(longest_consecutive([0, 3, 7, 2, 5, 8, 4, 6, 0, 1]))  # Output: 9
print(longest_consecutive([]))  # Output: 0
print(longest_consecutive([9, 1, 4, 7, 3, -1, 0, 5, 8, -1, 6]))  # Output: 10

4
9
0
7

###**Task 5:**
 Define a function `diagonal_sum` that takes a square matrix (list of lists) and returns the sum of the diagonals. If a value appears on both diagonals, count it only once.

### Parameters
- **matrix** (List[List[int]]): A 2D list of integers representing a square matrix.

### Returns
- **int**: The sum of the elements on both diagonals of the matrix.

### Sample Input and Output
#### Example 1:
**Input:**
```python
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
```
**Output:**
```
25
```
**Explanation:**
The main diagonal elements are 1, 5, 9. The secondary diagonal elements are 3, 5, 7. Summing them up gives 1 + 5 + 9 + 3 + 7 = 25. Note that 5 is counted only once.

#### Example 2:
**Input:**
```python
matrix = [
    [5, 1, 9, 11],
    [2, 4, 8, 10],
    [13, 3, 6, 7],
    [15, 14, 12, 16]
]
```
**Output:**
```
53
```
**Explanation:**
The main diagonal elements are 5, 4, 6, 16. The secondary diagonal elements are 11, 8, 3, 15. Summing them up gives 5 + 4 + 6 + 16 + 11 + 8 + 3 + 15 = 53. All elements are counted only once.

In [25]:
def diagonal_sum(matrix):
    n = len(matrix)
    total = 0

    for i in range(n):
        total += matrix[i][i]                 # main diagonal
        total += matrix[i][n - 1 - i]         # secondary diagonal

    # Subtract the middle element once if matrix size is odd
    if n % 2 == 1:
        total -= matrix[n // 2][n // 2]

    return total

In [26]:
matrix1 = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(diagonal_sum(matrix1))

matrix2 = [
    [5, 1, 9, 11],
    [2, 4, 8, 10],
    [13, 3, 6, 7],
    [15, 14, 12, 16]
]
print(diagonal_sum(matrix2))

25
68