<a href="https://colab.research.google.com/github/Raavvone/Assingments-CLoudy-ML/blob/main/Pandas_withoutcode_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center><u>Pandas <u></center>

## 1.[Pandas Series](https://pandas.pydata.org/pandas-docs/stable/reference/series.html)

## **`WATCH VIDEOS IN THE PORTAL`**

### **`Watch Video 1: Pandas Series`**

<p style='text-align: right;'> 1*4=4 points</p>

Import pandas and numpy with their aliases

In [2]:
import numpy as np

import pandas as pd

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [3]:
a = pd.Series([ 100, 200, 300, 400])

Print a, and data type

In [4]:

print(a)

0    100
1    200
2    300
3    400
dtype: int64

Using indexing access the element 300 from the series a.

In [5]:
a[2]

300

What are the values of index for series a?

<p style='text-align: right;'> 2*4 = 8 points</p>

In [7]:

range(0,4,1)

range(0, 4)

Change the index to  ['c', 'a', 'b', 'd']

In [8]:

a.index=['c', 'a', 'b', 'd']

print(a)

c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [10]:
a['d']

400

Sort the values wrt to the index and print it

In [11]:
a.sort_index()

a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

<p style='text-align: right;'> 4*2=8 points</p>

In [13]:
b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])
b

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [19]:
a = pd.concat([a, b])
a

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

In [20]:
#print a again after appending b into it

a

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [22]:
a = a.sort_values(ascending=False)
a

e    800
f    450
d    400
b    300
a    200
g    100
c    100
dtype: int64

In [23]:
a.index

Index(['e', 'f', 'd', 'b', 'a', 'g', 'c'], dtype='object')

## 2. [Pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)


### **`Watch Videos 2: Pandas Dataframe`**

<p style='text-align: right;'> 8*2 = 16 points</p>

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [24]:
df = pd.DataFrame(a)
df

     0
e  800
f  450
d  400
b  300
a  200
g  100
c  100

Point to ponder! Don't you think series a and dataframe df looks alike? But there must be some difference between them. Hey buddy think and write your thoughts below.

<p style='text-align: right;'> 5 points</p>

In [25]:
# A Pandas Series is one dimensioned whereas a DataFrame is two dimensioned. Therefore, a single column DataFrame can have a name for its single column but a Series cannot have a column name. In fact, each column of a DataFrame can be converted to a series

<p style='text-align: right;'> 2 + 1*4 = 6 points</p>

What is the shape of the datafarme <br>
(also, what does it imply?)

In [27]:

df.shape

(7, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [28]:
# yep its same as the series.
df.index

Index(['e', 'f', 'd', 'b', 'a', 'g', 'c'], dtype='object')

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [29]:
df.head()

     0
e  800
f  450
d  400
b  300
a  200

In [30]:
df.tail()

     0
d  400
b  300
a  200
g  100
c  100

Rename the column of the dataframe as 'points'

<p style='text-align: right;'> 2 points</p>

In [31]:
df.columns = ['points']
df

   points
e     800
f     450
d     400
b     300
a     200
g     100
c     100

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

<p style='text-align: right;'> 5 points</p>

In [ ]:
#Create fruits array

fruits =

array(['mango', 'mango', 'apple', 'orange', 'apple', 'orange', 'apple'],
      dtype='<U6')

In [ ]:
#Create series fruits out of fruits array

fruits =

0     mango
1     mango
2     apple
3    orange
4     apple
5    orange
6     apple
dtype: object

Change the index of fruits to the index of dataframe df

<p style='text-align: right;'> 5 points</p>

e     mango
f     mango
d     apple
b    orange
a     apple
g    orange
c     apple
dtype: object

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

   points  fruits
e     800   mango
f     450   mango
d     400   apple
b     300  orange
a     200   apple

Bonus optional question:
What if we had to changed the index of the dataframe?
Try to add any series to the dataframe with the origianl index (when index of series is not same as to the index of dataframe)

Use series as pd.Series([100,200,300,400,500,600,700]) and try to add it to df with column name Bonus_number.

Bonus marks: 5 points

   points  fruits  Bonus_number
e     800   mango           NaN
f     450   mango           NaN
d     400   apple           NaN
b     300  orange           NaN
a     200   apple           NaN
g     100  orange           NaN
c     100   apple           NaN

### Part 2

### **`Watch Video 3: Pandas Concatenation`**

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

<p style='text-align: right;'> 2*5=10 points</p>

In [ ]:
d1 =

Print(d1)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

(5, 2)

Set city = d1['city']

print city <br>
What is the type of city.

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object

pandas.core.series.Series

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

<p style='text-align: right;'> 3+2+5 = 10 points</p>

In [ ]:
d2 =

          city  Temperature
0    Bengaluru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

print the shape of this dataframe

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [ ]:
d3 =

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
0    Bengaluru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

# fun fact at high level

1. .concat() simply stacks multiple DataFrame together either vertically, or stitches horizontally after aligning on index
2. .merge() first aligns two DataFrame' selected common column(s) or index, and then pick up the remaining columns from the aligned rows of each DataFrame

Do you know about join function? This interesting quest we give to you to find.

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

<p style='text-align: right;'> 5+5=10 points</p>

         city  Temperature
0  Chandigarh           15
2      Kanpur           20
4      Manali           -2

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

          city  Temperature
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

## 3. Applying functions to columns and creating new columns

### **`VIdeo 4: Top Pandas Commands in Data Science`**

**Note: You can watch full video for more learning or only from timestamp 17:00-20:00**

#### **`Additional Reference:`** https://www.geeksforgeeks.org/python-pandas-apply/

<p style='text-align: right;'> 20 points</p>

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not.
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [ ]:
# write function here

def is_ut(x):

    # write code below

d3['is_ut'] =

In [ ]:
# print d3

          city  Temperature  is_ut
0   Chandigarh           15   True
1        Delhi           22   True
2       Kanpur           20  False
3      Chennai           26  False
4       Manali           -2  False
0    Bengaluru           24  False
1   Coimbatore           35  False
2    Srirangam           36  False
3  Pondicherry           39   True

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT -
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [ ]:
# write function here

In [ ]:
# check function c_to_f(10)

50.0

In [ ]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'

          city  Temperature  is_ut  temp_farenhiet
0   Chandigarh           15   True            59.0
1        Delhi           22   True            71.6
2       Kanpur           20  False            68.0
3      Chennai           26  False            78.8
4       Manali           -2  False            28.4
0    Bengaluru           24  False            75.2
1   Coimbatore           35  False            95.0
2    Srirangam           36  False            96.8
3  Pondicherry           39   True           102.2

## 4. Indexing and selecting rows in DataFrame

### Reference: **`Video 5: Indexing DataFrame`**

<p style='text-align: right;'> 20 points</p>

Select subset of the dataframe d1 such that it contains the cities which are union territories.

          city  Temperature  is_ut  temp_farenhiet
0   Chandigarh           15   True            59.0
1        Delhi           22   True            71.6
3  Pondicherry           39   True           102.2

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

          city  Temperature  is_ut  temp_farenhiet
1   Coimbatore           35  False            95.0
2    Srirangam           36  False            96.8
3  Pondicherry           39   True           102.2

Select only the first three rows of the dataframe d1.

In [ ]:
d3.iloc[:3]

         city  Temperature  is_ut  temp_farenhiet
0  Chandigarh           15   True            59.0
1       Delhi           22   True            71.6
2      Kanpur           20  False            68.0

Select all the rows and last two columns in the dataframe.

In [ ]:
d3.iloc[:,-2:]

   is_ut  temp_farenhiet
0   True            59.0
1   True            71.6
2  False            68.0
3  False            78.8
4  False            28.4
0  False            75.2
1  False            95.0
2  False            96.8
3   True           102.2

## 5. Reading csv file and group by

### Reference: **`Video 6: Reading CSV Files in Colab`**

### **`Video 7: Pandas group by`**

<p style='text-align: right;'> 2*2=4 points</p>

Read the file 'weather_data.csv' and store it in a pandas dataframe 'df'

In [ ]:
df =

print the shape and head of the dataframe

(6, 4)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

Group the dataframe wrt to 'event' and save the resulting output in a variable named 'g'

<p style='text-align: right;'> 5*3 = 15 points</p>

In [ ]:
g =

Print g and  type(g)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fd3580e09d0>
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

Iterate over all the temperatures in g and print them

('Rain',         day  temperature  windspeed event
0  1/1/2017           32          6  Rain
4  1/5/2017           32          4  Rain)
('Snow',         day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow)
('Sunny',         day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
5  1/6/2017           31          2  Sunny)

Use the describle method on g to get the complete description on it.

      temperature                                               windspeed  \
            count  mean       std   min   25%   50%   75%   max     count
event
Rain          2.0  32.0  0.000000  32.0  32.0  32.0  32.0  32.0       2.0
Snow          2.0  26.0  2.828427  24.0  25.0  26.0  27.0  28.0       2.0
Sunny         2.0  33.0  2.828427  31.0  32.0  33.0  34.0  35.0       2.0


      mean       std  min   25%  50%   75%  max
event
Rain   5.0  1.414214  4.0  4.50  5.0  5.50  6.0
Snow   4.5  3.535534  2.0  3.25  4.5  5.75  7.0
Sunny  4.5  3.535534  2.0  3.25  4.5  5.75  7.0

Create a new column in the dataframe df, named 'hot_temp' which contains True if temp is above 30, else False

<p style='text-align: right;'> 5 points</p>

In [ ]:
#code here to filter df with above condition
df['hot_temp'] =

In [ ]:
# print df

        day  temperature  windspeed  event  hot_temp
0  1/1/2017           32          6   Rain      True
1  1/2/2017           35          7  Sunny      True
2  1/3/2017           28          2   Snow     False
3  1/4/2017           24          7   Snow     False
4  1/5/2017           32          4   Rain      True
5  1/6/2017           31          2  Sunny      True

## Data Range

### Reference:-**`Video 8: Pandas Date Range`**

<p style='text-align: right;'> 5*3 = 15 points</p>

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [ ]:
a =

print a

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31', '2021-01-01', '2021-01-02',
               '2021-01-03', '2021-01-04'],
              dtype='datetime64[ns]', length=370, freq='D')

What is the len of a?

370

What is the type of a?

pandas.core.indexes.datetimes.DatetimeIndex

________________
# Hey high five! You solved the 4th milestone challenge too! Pawri to banti hai ;)
________________